# Generated headers
gmixplay_app.h
gmixplay_fs.h

# Editor backups
*~

# Eclipse stuff
.cproject
.project
org.eclipse*
language.settings.xml

# Binaries
bin/mixplay
bin/gmixplay
bin/scanformusic
core

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
