# Coverity results
cov-int

# Generated headers and dependencies
build/[!R]*
*.d
*.Td

# Editor backups
*~

# icon in inkscape format
src/mpicon.svg

# Eclipse stuff
.cproject
.project
.settings/*

# VS stuff
.vscode

# Binaries
mixplayd
mixplay-hid
mixplay-scr
mprcinit
minify
core

# minified web content
static/mixplay.html
static/mixplay.js
static/mixplay.css

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Logfiles
*.log
