[Desktop Entry]
Version=1.0
Name=Mixplay
Comment=Play directories m3u playlists and single mp3 files
Exec=gnome-terminal --disable-factory --class mixplay --command "mixplay -m %u"
Type=Application
Icon=/usr/share/pixmaps/mixplay.svg
Categories=Player;
MimeType=application/vnd.apple.mpegurl;audio/mp3;audio/mpeg;audio/mpegurl;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;inode/directory;
StartupWMClass=mixplay
