/* layout of the default view */

/* make sure the background behaves properly */
html {
	height: 100%
}

body {
	background: #000;
	background-image: radial-gradient( circle at 90% -30%, white, darkblue 2%, black 100%);
	color: #bbc;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
	font-size: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

body.busy {
	background-color: #8f8;
	background-image: radial-gradient( circle at 90% -30%, white, darkgreen 2%, black 100%);
}

body.disconnect {
	background-color: #f88;
	background-image: radial-gradient( circle at 90% -10%, red, darkred 20%, black 100%);
	color: #f88;
}

div#black {
	background-color: black;
	color: #444;
	position: absolute;
	height: 100%;
	width: 100%;
}

div[id^='extra'].active {
	flex: 1;
	overflow: hidden;
}

div#volume {
	margin-top: 0.6em;
}

p#active, p#download {
	text-align: center;
}

#extra0 {
	text-align: center;
}

#viewtabs button, #playpack button {
	width:1.75em;
}

button:focus {
	outline:0;
}

button:hover {
	cursor: pointer;
}

#playtime:hover, #remtime:hover, #splaytime:hover {
	cursor: default;
}

#uiextra:hover {
	cursor: row-resize;
}
#tscroll:hover {
	cursor: pointer;
}

p#ctitle:hover {
	cursor: pointer;
}

.popup:hover {

}

#volume:hover, .clickline:hover {
	cursor: pointer;
}

#progress:hover, div#playtime:hover {
	cursor: w-resize;
}

/* previous title, next title */
#pscroll, #nscroll {
	font-size : 1.2em;
	height: 1.5em;
	background-color: rgba(100,100,100,.3);
}

#pscroll:hover {
	cursor: n-resize;
}

#nscroll:hover {
	cursor: s-resize;
}

div#volumebar.mute {
	background-color: rgba(200,100,000,.5);
}


/* album */
#lscroll, #ascroll {
	font-size: 1.25em;
	height: 1.5em;
}

/* artist */
#ascroll {
	font-weight: bold;
}

/* title */
#tscroll {
	font-size : 1.75em;
	font-weight: bold;
	height: 1.75em;
}

/* combo for current title */
#current, #playpack {
	margin-top: 0.2em;
	border:black;
}

#current {
	padding-bottom: 0.2em;
}

#current.hide, #ctitle.hide {
	background-image: radial-gradient(darkred, transparent);
	display: block;
}

div#playpack {
	position: absolute;
	bottom: 0px;
	background-color: rgba(10, 10, 20, 1)
}

div.buttonbar {
	display: flex;
	width: 100%;
	background-color: rgba(25, 25, 50, .2)
}

div#playpack.hide {
	display: none;
}

div#progress {
	margin-top: 0.85em;
}

#playpack div#playtime, div#remtime {
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

button {
	background-color: transparent;
	background-image: linear-gradient( to right bottom, lightblue, darkblue 20%, darkblue 80%, black );
	font-size: 1em;
	border: none;
	color: inherit;
}

button#dnp {
	background-image: radial-gradient(darkred, black);
}

button#dnp:hover, button#fav:hover, #ascroll:hover, #lscroll:hover, #genre:hover {
	cursor: copy;
}

button#fav {
	color: darkgreen;
}

div#playtime, div#remtime, button#dnp, button#fav {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

div.progress {
	flex: 1;
	margin-top: 0.3em;
	height: 0.6em;
	width: 100%;
	background-color: rgba(100,100,100,.2);
}

div.progress div {
	height: 100%;
	background-color: rgba(100,100,200,.5);
}

/* make download link look like a button */
a.download {
	text-decoration: none;
	margin: 0.1em;
	padding: 0.15em;
	position: absolute;
}

input, select {
	background: rgba(100,100,100,.5);
	color: inherit;
	font-size: 1em;
	border: 0;
}

option {
	color: darkblue;
}

/* Tabs to select current view */
button.active, button.inactive, button.hide {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	background: none;
}

div#remtime {
	background-image: linear-gradient( lightblue, darkblue 20%, darkblue 80%, black );
}

/* selected tab */
button.active {
	background-image: linear-gradient( lightblue, darkblue 20%, darkblue 80%, black );
	background-color: rgba( 150, 150, 150, .5 );
	display: inline;
}

/* unselected tab */
button.inactive {
	background: none;
	display: inline;
}

/* hidden element */
.hide {
	display: none;
}

button.alert {
	background: none;
	color: #e88;
}

/* view controls */
div.active {
	display: block;
}

div.inactive, div.hide {
	display: none;
}

/* basic functions that should not need to be touched when re-skinning the UI */
.scroll {
	position: relative;
	width: 100%;
	overflow: hidden;
}

p {
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
}

/* display attributes should be set in t/a/l/p/nscroll */
.scroll p {
	position: absolute;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin: 0;
	text-align: left;
}

/* popup line */
p.popselect {
	position: relative;
	display: block;
	cursor: copy;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: none;
	background: none;
}

/* popup line with no popup */
p.nopopselect {
	position: relative;
	display: block;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: none;
	background: none;
	cursor: default;
}

.popup {
	visibility: hidden;
	background-color: rgba(50,50,100,.9);
	text-align: center;
	border-radius: 0.2em;
	padding: 0.4em;
	position: absolute;
	z-index: 1;
	left: 2em;
	top: -0.4em;
}

.show {
  visibility: visible;
  animation: fadeIn 1s
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.clickline {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: none;
	background: none;
}
