/* layout of the default view */
body.disconnect {
	background-color: #f88;
	color: #f88;
}

#extra0 {
	text-align: center;
	background-color: #eee;
	padding: 5px;
}

/* previous title, next title */
#pscroll, #nscroll {
	font-size : 24px;
	height: 38px;
}

/* artist */
#ascroll {
	font-weight: bold;
	font-size: 20px;
	height: 30px;
}

/* album */
#lscroll {
	font-size: 20px;
	height: 30px;
}

/* title */
#tscroll {
	font-size : 24px;
	font-weight: bold;
	height: 34px;
}

/* combo for current title */
#current, #playpack {
	padding-top: 5px;
	padding-bottom: 5px;
	border:black;
}

#playpack {
	background-color: #ddd;
}

div#playpack, div#maindnpfav {
	display: flex;
	width: 100%
}


div#playtime, div#remtime {
	padding-left: 5px;
	padding-right: 5px;
}

div.progress {
	flex: 1;
	margin-top: 5px;
	height: 10px;
	width: 100%;
	background-color: rgba(100,100,100,.2);
}

div.progress div {
	height: 100%;
	background-color: rgba(100,100,200,.5);
}
#speaker {
	display: inline;
}

#current.play {
	background-color: #ddd;
}

#current.pause {
	background-color: #daa;
}

div#playpack, div#maindnpfav {
	display: flex;
	width: 100%
}

input#dnp, input#fav {
	flex: 1;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size : 150%;
	padding-left: 10px;
	padding-right: 10px;
}

/* make download link look like a button */
a.download {
	text-decoration: none;
	color: #000;
	background-color: #eee;
	border: solid;
	margin: 1px;
	padding: 3px;
	border-width: thin;
	position: absolute;
}

/* Tabs to select current view */
input.active, input.inactive, input.hide {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}

/* selected tab */
input.active {
	background-color: #ddd;
	display: inline;
}

/* unselected tab */
input.inactive {
	background: none;
	display: inline;
}

/* hidden tab */
input.hide {
	background: none;
	display: none;
}

/* view controls */
div.active {
	display: block;
}

div.inactive, div.hide {
	display: none;
}

/* basic functions that should not need to be touched when re-skinning the UI */
.scroll {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* display attributes should be set in t/a/l/p/nscroll */
.scroll p {
	position: absolute;
	white-space: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	text-align: left;
}

/* popup line */
.popselect {
	position: relative;
	display: block;
	cursor: pointer;
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}

.popselect .popup {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	left: 40px;
	top: -8px;
}

.popselect .show {
  visibility: visible;
  animation: fadeIn 1s
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.clickline {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}
