/* layout of the default view */

/* make sure the background behaves properly */
html {
	height: 100%
}

body {
	background: #000;
	background-image: radial-gradient( circle at 90% -30%, white, darkblue 2%, black 100%);
	color: #ccd;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body.disconnect {
	background-color: #f88;
	background-image: radial-gradient( circle at 90% -10%, red, darkred 20%, black 100%);
	color: #f88;
}

div#viewtabs {
	top: 0;
	position: fixed;
	width: 100%;
}

/* hide until the slider looks better */
div#volpack, select#range {
	display: none;
}

#speaker {
	display: inline;
}

#extra0 {
	text-align: center;
}

/* previous title, next title */
#pscroll, #nscroll {
	font-size : 24px;
	height: 38px;
}

/* artist */
#ascroll {
	font-weight: bold;
	font-size: 20px;
	height: 30px;
}

/* album */
#lscroll {
	font-size: 20px;
	height: 30px;
}

/* title */
#tscroll {
	font-size : 24px;
	font-weight: bold;
	height: 34px;
}

/* combo for current title */
#current, #playpack {
	padding-top: 5px;
	border:black;
}

#current {
	padding-bottom: 5px;
}

#current.play {
	background-color: rgba(100,100,100,.5);
}

#current.pause {
	background-color: rgba(150,100,100,.5);
}

#current.hide {
	background-color: transparent;
	display: block;
}

div#playpack {
	display: flex;
	width: 100%
}

#playpack input {
	background-color: transparent;
	background-image: radial-gradient( circle at 50% 50%, darkblue, black 100%);

}

div#ctrl {
	margin-top: 5px;
}

input#dnp {
	background-color: rgba(200,100,100,.25);
}

input#fav {
	background-color: rgba(100,200,100,.25);
}

div#playtime, div#remtime, input#dnp, input#fav {
	padding-left: 5px;
	padding-right: 5px;
}

div.progress {
	flex: 1;
	margin-top: 5px;
	height: 10px;
	width: 100%;
	background-color: rgba(100,100,100,.2);
}

div.progress div {
	height: 100%;
	background-color: rgba(100,100,200,.5);
}

/* make download link look like a button */
a.download {
	text-decoration: none;
	margin: 1px;
	padding: 3px;
	position: absolute;
}

input, select {
	background: rgba(100,100,100,.5);
	color: inherit;
	border: 0;
}

/* Tabs to select current view */
input.active, input.inactive, input.hide {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}

/* selected tab */
input.active {
	background-color: rgba( 150, 150, 150, .5 );
	display: inline;
}

/* unselected tab */
input.inactive {
	background: none;
	display: inline;
}

input#uiextra, input#dnp, input#fav {
	float:right;
}

/* hidden tab */
input.hide {
	background: none;
	display: none;
}

/* view controls */
div.active {
	display: block;
	padding-top: 25px;
}

div.inactive, div.hide {
	display: none;
}

/* basic functions that should not need to be touched when re-skinning the UI */
.scroll {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* display attributes should be set in t/a/l/p/nscroll */
.scroll p {
	position: absolute;
	white-space: nowrap;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	text-align: left;
}

/* popup line */
.popselect {
	position: relative;
	display: block;
	cursor: pointer;
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}

.popselect .popup {
	visibility: hidden;
	background-color: rgba(50,50,100,.9);
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	left: 40px;
	top: -8px;
}

.popselect .show {
  visibility: visible;
  animation: fadeIn 1s
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.clickline {
	margin-top: 4px;
	margin-bottom: 4px;
	border: none;
	background: none;
}
