var doUpdate=1;
var data=null;
var mpver=~~MPCOMM_VER~~;
var msgline="";

/**
 * used cmd's so far are:
 *  mpc_play,
 *  mpc_prev,
 *  mpc_next,
 *  mpc_favtitle,
 *  mpc_repl,
 *  mpc_dnptitle,
 *	mpc_ivol,
 *	mpc_dvol,
 *  mpc_quit - just terminate pmixplay
 */
function sendCMD( cmd ) {
	var xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange=function() {
  		if ( xmlhttp.readyState==4 && xmlhttp.status!=204 ) {
			alert( "Error "+xmlhttp.status );
  		}
	}
	
	xmlhttp.open("GET", "/cmd/"+cmd, true);
	xmlhttp.send();
}

function setElement( e, val ) {
	document.getElementById( e ).innerHTML=val;
}

function updateUI( ){
	var xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange=function() {
  		if (xmlhttp.readyState==4 ) {
  			if( xmlhttp.status==200 ) {
	  			data=JSON.parse(xmlhttp.responseText);
	  			if( data !== undefined ) {
	  				if( data.version != mpver ) {
	  					doUpdate=0;
	  					alert("Version clash, expected "+mpver+" and got "+data.version );
	  					return;
	  				}
	  				if( data.type == 3 ) {
		  				document.title=data.current.artist+" - "+data.current.title;
		  				setElement( 'title', data.current.title );
			  			setElement( 'prev', data.prev.artist+" - "+data.prev.title );
			  			setElement( 'artist', data.current.artist );
			  			setElement( 'album', data.current.album );
			  			setElement( 'next', data.next.artist+" - "+data.next.title );
			  		}
		  			if( data.status == 0 ) {
			  			document.getElementById('current').style.backgroundColor="#ddd";
			  		}
			  		else {
			  			document.getElementById('current').style.backgroundColor="#daa";
			  		}	
			  		
		  			setElement( 'playtime', data.playtime+" / "+data.remtime );
		  			setElement( 'volume', data.volume+"%" );
		  			if( data.msg != "" ) {
		  				msgline=msgline+"\n"+data.msg;
		  			}
		  			else {
		  				if( msgline!= "" ) {
			  				document.body.style.cursor='auto';
		  					alert(msgline);
		  					msgline="";
		  				}
		  			}
		  			if( data.current.flags & 1 )  {
			  			document.getElementById( 'fav' ).disabled=true;
		  			}
		  			else {
			  			document.getElementById( 'fav' ).disabled=false;		  			
		  			}
		  		}
		  	}
		  	else if( xmlhttp.status==503 ) {
		  		if( confirm( "Try to restart?" ) ) {
		  			sendCMD( "mpc_start" );
		  		}
		  		else{
		  			alert( "Stopping updates.." );
		  			doUpdate=0;
		  		}
		  	}
		}
	}
	
	if( doUpdate != 0 ) {
		xmlhttp.open("GET", "/status", true);
		xmlhttp.send();
		setTimeout("updateUI()",500);
	}
}

function search() {
	var e=document.getElementById('range');
	var term=e.options[e.selectedIndex].value;
	if(document.getElementById('fuzzy').checked ) {
		term=term+"*";
	}
	else {
		term=term+"=";
	}
	term=term+document.getElementById('text').value;
	if( term.length > 4 ) {
		document.body.style.cursor='progress';
		sendCMD( "mpc_search?"+term );
	}
	else {
		alert("Need at least two letters to saearch!");
	}
}

updateUI();

